<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h5 class="white-text">E-Learning</h5>
            <p class="grey-text text-lighten-4">Platforme d'aprentissage pour les devloppeurs et stagaires d'INETUM
            </p>
        </div>

    </div>
</div>
<div class="footer-copyright">
    <div class="container right-align">
        <span>With <i class="far fa-heart"></i> by Niama</span>
        <a href="https://www.linkedin.com/in/niama-aroubite-12289b1b9/"><i class="fab fa-linkedin white-text"></i></a>
        <a href="https://github.com/niama315"><i class="fab fa-github white-text"></i></a>
        <a href=""><i class="fas fa-code white-text"></i></a>
        <a href=""><i class="fab fa-instagram white-text"></i></a>
    </div>
</div>