<nav class="teal lighten-2" role="navigation" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo white-text">E-Learning</a>
        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{/cursos}" class="white-text">Cours</a></li>
            <li><a th:href="@{/profesores}" class="white-text">Professeur</a></li>
            <!--Dropdown-->
            <li sec:authorize="isAnonymous()"><a class="dropdown-trigger" href="#" data-target="logindd">Accéder
            </a></li>
            <li sec:authorize="isAuthenticated()"><a class="dropdown-trigger" data-target="accountdd"><i
                    class="material-icons">account_circle</i></a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav teal darken-2">
            <li><a th:href="@{/cursos}" class="white-text">Cours</a></li>
            <li><a th:href="@{/profesores}" class="white-text">Professeur</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}" class="white-text">Commencer la session</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/register}" class="white-text">Enregistrement</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}" class="white-text">Profil</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="white-text">Sortir</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text"><i
                class="material-icons">menu</i></a>
    </div>
</nav>
<!-- Dropdown Content -->
<ul id="accountdd" class="dropdown-content">
    <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Profil</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sortir</a></li>
</ul>
<ul id="logindd" class="dropdown-content">
    <li><a th:href="@{/login}">Commencer la session</a></li>
    <li><a th:href="@{/register}">Enregistrement</a></li>
</ul>