<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head">

</head>
<body>
<header th:insert="fragments/header">
</header>

<main>
    <div class="container">
        <div class="row mt-3">
            <!-- Sidebar -->
            <div class="col s12 m4 l3">
                <ul class="collapsible z-depth-3">
                    <li class="active">
                        <div class="collapsible-header"><i class="material-icons">livre
                        </i><span th:text="${curso.nomCours}">Nom du cours</span></div>
                        <div class="collapsible-body"><span th:text="${curso.descriptionCours}">Description du cours</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_atm</i>Prix</div>
                        <div class="collapsible-body"><span>Libre</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">school
                        </i>Difficulté
                        </div>
                        <div
                                class="collapsible-body"><span th:text="${curso.dificulteCours}">Difficulté
                            du cours</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Professeur</div>
                        <div class="collapsible-body">
                            <a th:href="@{/profesores/{id_profesor}(id_profesor=${curso.professeur.id_professeur})}">
                                <div class="row">
                                <img th:src="${curso.professeur.imgurl}"
                                     class="col s4 m12 circle responsive-img"
                                     alt="instructor image"/>
                                <div class="col s8 m12 teal-text mt-3 center-align">
                                <strong
                                    th:text="${curso.professeur.prenomProfesseur} + ' ' + ${curso.professeur.nomProfesseur}">Données de l'enseignant</strong>
                                </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Course Details -->
            <div class="col s12 m8 l9">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img th:src="${curso.imgurl}" alt="course image">
                        <span id="detail-card-title" class="card-title"><strong th:text="${curso.nomCours}">Le nom du
                             Cours</strong>
                            <span sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{/cursos/edit/{id_curso}
                                        (id_curso=${curso.id_cours})}"
                                           class="btn-floating waves-effect waves-light btn-small yellow darken-1"><i
                                                class="material-icons">edit</i>
                                        </a>
                            </span>
                            <span sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{/cursos/delete/{id_curso}
                                        (id_curso=${curso.id_cours})}"
                                           class="btn-floating waves-effect waves-light btn-small red lighten-1"><i
                                                class="material-icons">delete_forever</i>
                                        </a>
                            </span>
                        </span>
                    </div>
                    <div class="card-content" th:text="${curso.detailCours}">
                        <p>Détail du cours</p>
                    </div>
                    <div class="card-action">
                        <!-- Modal Trigger -->
                        <a th:if="${matriculado == false}" href="#modal-matricula"
                           class="teal-text darken-1 modal-trigger"><strong>Inscrire</strong></a>
                        <a target="_blank" th:unless="${matriculado == false}" th:href="${curso.urlCours}"
                           class="teal-text darken-1"><strong>Acceder</strong></a>
                    </div>
                </div>
            </div>
            <!-- Modal Sctructure -->
            <div id="modal-matricula" class="modal">
                <div class="modal-content">
                    <h4 class="teal-text">Matrícula</h4>
                    <p>Vous êtes à un pas du début d'un nouveau voyage vers l'excellence. Vous souhaitez vous inscrire au
                        cours de<strong
                            th:text="${curso.nomCours}">nom
                            cours</strong>,
                        dicté par <strong
                                th:text="${curso.professeur.prenomProfesseur} + ' ' + ${curso.professeur.nomProfesseur}">professeur
                        </strong>?</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat red-text">Annuler</a>
                    <a th:href="|/matricula/save/${curso.id_cours}|"
                       class="modal-close waves-effect waves-green btn-flat teal-text">
                        Confirmer</a>
                </div>
            </div>
        </div>
    </div>
</main>
<br><br>
<footer class="page-footer teal" th:insert="fragments/footer">

</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>